@headerHeight: 36px;
@toolbarWidth: 70px;

#workarea,
#toolbar,
#header {
  image-rendering: -webkit-optimize-contrast;
}

#workarea {
  height: 100%;
  width: 100%;
}

.toolbar {
  position: absolute;
  top: @headerHeight;
  left: 0px;
  width: @toolbarWidth;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

#icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 70px;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: @headerHeight;
  overflow: hidden;
  box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  z-index: 30;
  justify-content: center;
}

#headerID {
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.gm-logo {
  position: relative;
  left: 6px;
  height: 90%;
  display: flex;

  >div,
  >div>svg {
    height: 100%;
  }
}

#headerID p {
  position: relative;
  display: inline;
  left: -10px;
  width: 300px;
  color: #1976d2;
  font-size: 25px;
  font-weight: bolder;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#workarea-container {
  position: absolute;
  top: @headerHeight;
  left: @toolbarWidth;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.mode-switch {
  position: relative;
  top: 5px;
  left: -20px;
  height: 50px;
  width: 70px;
  margin: 8px 0px 8px 0px;


  border-radius: 5px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background-color: transparent;
}

.mode-switch:hover {
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(8px);
}

.mode-switch[chosen] {
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(15px);
}

.mode-switch-icon {
  position: relative;
  left: 20px;
  top: 0px;
  height: 50px;
  width: 50px;
  display: flex;
}

.mode-switch-icon>div,
.mode-switch-icon>div>svg {
  height: 100%;
  width: 100%;
}

.graphic-tagbox {
  user-select: none;
}

.graphic-tag[dragging] {
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
}