#workarea,
#toolbar,
#header {
  image-rendering: -webkit-optimize-contrast;
}
#toolbar {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 70px;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
#icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}
#headerID {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
#headerID img {
  width: 180px;
  height: 70%;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#workarea-container {
  position: absolute;
  top: 60px;
  left: 70px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.mode-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background-color: white;
  background-image: url(../assets/circleA0.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 50px 25px;
  height: 25px;
  width: 70px;
  margin: 3px 0px 3px 0px;
  position: relative;
  top: 5px;
  left: -20px;
}
.mode-switch:hover {
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(8px);
}
.mode-switch:checked {
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(15px);
}
.graphic-tag {
  user-select: none;
  pointer-events: none;
}
#button-1 {
  background-image: url("../assets/move.svg");
}
#button-2 {
  background-image: url("../assets/segment.svg");
}
#button-3 {
  background-image: url("../assets/point.svg");
}
#button-4 {
  background-image: url("../assets/circle.svg");
}
#button-5 {
  background-image: url("../assets/line.svg");
}
#button-6 {
  background-image: url("../assets/halfline.svg");
}
#button-7 {
  background-image: url("../assets/intersection.svg");
}
#button-8 {
  background-image: url("../assets/perpendicular.svg");
}
#button-9 {
  background-image: url("../assets/parallel.svg");
}
#button-10 {
  background-image: url("../assets/extensionLine.svg");
}
#button-11 {
  background-image: url("../assets/angleBisector.svg");
}
#button-12 {
  background-image: url("../assets/tangent.svg");
}
#button-13 {
  background-image: url("../assets/perpendicularBisector.svg");
}
#button-14 {
  background-image: url("../assets/midPoint.svg");
}
#button-15 {
  background-image: url("../assets/circumcircle.svg");
}
