@headerHeight: 36px;
@toolbarWidth: 90px;

#root {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 90px 1fr; //| | |
  grid-template-rows: 36px 1fr; //---
  // flex-direction: column;
}

#workarea,
#toolbar,
#header {
  image-rendering: -webkit-optimize-contrast;
}

#workarea {
  height: 100%;
  width: 100%;
}

.toolbar {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  // position: absolute;
  // top: @headerHeight;
  left: 0px;
  width: @toolbarWidth;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.1);
  // padding-bottom: @headerHeight;
}

#header {

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: @headerHeight;
  overflow: hidden;
  box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  z-index: 30;
  justify-content: center;
}

#headerID {
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.gm-logo {
  position: relative;
  left: 6px;
  height: 90%;
  display: flex;

  >div,
  >div>svg {
    height: 100%;
  }
}

#headerID p {
  position: relative;
  display: inline;
  left: -10px;
  width: 300px;
  color: #1976d2;
  font-size: 25px;
  font-weight: bolder;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#workarea-container {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@spaceBetweenSwitches: 6px;

.mode-switch-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: (@spaceBetweenSwitches / 2);
  //* 这里加括号，见 https://www.cnblogs.com/xiaoqiang001/p/14354616.html
}

.mode-switch-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.mode-switch-container::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

.mode-switch-container::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

.mode-switch-container::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.mode-switch-container::-webkit-scrollbar-corner {
  background: #f6f6f6;
}

.mode-switch {
  height: 50px;
  width: 50px;
  margin: (@spaceBetweenSwitches / 2);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 4px solid black;
  //*     宽度-样式-颜色
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background-color: transparent;
}

.mode-switch:hover {
  border-color: green;
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mode-switch[chosen] {
  border-color: red;
  box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mode-switch-icon {
  height: 50px;
  width: 50px;
}

.mode-switch-icon>div,
.mode-switch-icon>div>svg {
  height: 100%;
  width: 100%;
}

.graphic-tagbox {
  user-select: none;
}

.graphic-tag[dragging] {
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
}